<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <JsonTemplateLayout>
            <!-- <EventTemplateAdditionalField key="HOME_DIR" value="${env:HOME}"/> -->
            </JsonTemplateLayout>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender"
                     fileName="logs/application.log"
                     filePattern="logs/application-%d{yyyy-MM-dd}-%i.log">
            <JsonTemplateLayout>
            <!-- <EventTemplateAdditionalField key="HOME_DIR" value="${env:HOME}"/> -->
            </JsonTemplateLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>